*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  min-width: 320px;
  max-width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
  outline: 0;
  background-color: #fff;
}

body,
select,
input,
textarea,
button {
  line-height: 1.5;
  font-family: "NotoSans", Arial, sans-serif;
  color: #626a77;
}

a {
  color: #0b1c39;
  text-decoration: none;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
a:hover, a:focus-visible {
  color: #2572ff;
}

ol,
ul {
  list-style: none;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}

.title_hide {
  left: -9999px;
  position: absolute;
  top: -9999px;
  overflow: hidden;
  width: 0;
  height: 0;
}

.btn {
  border: 0 none;
  cursor: pointer;
  overflow: hidden;
  text-decoration: none !important;
  background: transparent;
}

.mob-menu,
.menu {
  position: sticky;
  top: 0;
  background-color: #fff;
}

.menu {
  z-index: 1000;
}

.mob-menu {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 998;
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-menu {
  width: 60px;
  height: 60px;
  position: relative;
}
.btn-menu .i_1,
.btn-menu .i_2,
.btn-menu .i_3 {
  display: block;
  position: absolute;
  left: 25%;
  width: 50%;
  height: 2px;
  background-color: #3070e6;
  border-radius: 1px;
}
.btn-menu .i_1 {
  top: 28%;
}
.btn-menu .i_2 {
  top: calc(50% - 1px);
}
.btn-menu .i_3 {
  bottom: 28%;
}

.menu__close {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.btn-menu-close {
  height: 50px;
  width: 50px;
  position: relative;
}
.btn-menu-close::before, .btn-menu-close::after {
  content: "";
  display: block;
  position: absolute;
  left: 20%;
  top: calc(50% - 1px);
  width: 60%;
  height: 2px;
  border-radius: 1px;
  background-color: #fff;
}
.btn-menu-close::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.btn-menu-close::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
  display: none;
}

.menu__soc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 1rem 0;
}
.menu__soc svg {
  width: 1.9rem;
  height: 1.9rem;
  fill: #fff;
  margin: 0 0.7rem;
}

@media (min-width: 992px) {
  .menu-backdrop,
  .mob-menu,
  .menu > *:not(.menu__nav) {
    display: none !important;
  }
  .scrolled .menu {
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  }
  .menu__nav {
    height: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__nav li {
    padding: 0 15px;
  }
  .menu__nav a {
    display: block;
    text-transform: uppercase;
    padding: 3px;
    position: relative;
  }
  .menu__nav a::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #2572ff;
    -webkit-transition: width 0.2s ease;
    transition: width 0.2s ease;
  }
  .menu__nav a:hover::after {
    width: 100%;
  }
}
@media (max-width: 991.98px) {
  .menu__close,
  .mob-menu,
  .menu__soc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    min-width: 300px;
    height: 100%;
    background-color: #000;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    overflow-y: auto;
  }
  .menu__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .menu__nav li {
    padding: 0.3rem 1.2rem;
  }
  .menu__nav a {
    font-size: 1.3rem;
  }
}
.header {
  background-color: #121212;
  background-image: url(../images/header_fon.webp?v=1);
  min-height: calc(100vh - 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutme {
  height: 800px;
}

.services {
  background-color: #f6f7fa;
  height: 800px;
}

.contacts {
  height: 800px;
}

footer {
  height: 500px;
  background-color: #3070e6;
}

.animation-element {
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.animation-element.animation-show {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-transition-property: opacity, background-color, -webkit-transform;
  transition-property: opacity, background-color, -webkit-transform;
  transition-property: opacity, transform, background-color;
  transition-property: opacity, transform, background-color, -webkit-transform;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

@media (min-width: 992px) {
  .animation-element.animation-element-left {
    -webkit-transform: scale(0.9) translate(-20%, 0);
            transform: scale(0.9) translate(-20%, 0);
  }
  .animation-element.animation-element-right {
    -webkit-transform: scale(0.9) translate(20%, 0);
            transform: scale(0.9) translate(20%, 0);
  }
  .animation-element.animation-element-bottom {
    -webkit-transform: scale(0.9) translate(0, 20%);
            transform: scale(0.9) translate(0, 20%);
  }
  .animation-element.animation-element-left.animation-show,
  .animation-element.animation-element-right.animation-show,
  .animation-element.animation-element-bottom.animation-show {
    -webkit-transform: scale(1) translate(0);
            transform: scale(1) translate(0);
  }
}