.section {
  padding-left: 5%;
  padding-right: 5%;
}
.section > * {
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

@font-face {
  font-family: "iconPortfolio";
  src: url("../fonts/iconPortfolio.ttf?mcd166") format("truetype"), url("../fonts/iconPortfolio.woff?mcd166") format("woff"), url("../fonts/iconPortfolio.svg?mcd166#iconPortfolio") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "iconPortfolio" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
  content: "\e900";
}

.icon-tg:before {
  content: "\e920";
}

.icon-vk:before {
  content: "\e923";
}

.icon-close:before {
  content: "\e916";
}

.icon-mugs:before {
  content: "\e901";
}

.icon-menu:before {
  content: "\e917";
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Thin.eot");
  src: url("../fonts/montserrat/Montserrat-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-Thin.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Thin.woff") format("woff"), url("../fonts/montserrat/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-ThinItalic.eot");
  src: url("../fonts/montserrat/Montserrat-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-ThinItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ThinItalic.woff") format("woff"), url("../fonts/montserrat/Montserrat-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-ExtraLight.eot");
  src: url("../fonts/montserrat/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ExtraLight.woff") format("woff"), url("../fonts/montserrat/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-ExtraLightItalic.eot");
  src: url("../fonts/montserrat/Montserrat-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-ExtraLightItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ExtraLightItalic.woff") format("woff"), url("../fonts/montserrat/Montserrat-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Light.eot");
  src: url("../fonts/montserrat/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-Light.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Light.woff") format("woff"), url("../fonts/montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-LightItalic.eot");
  src: url("../fonts/montserrat/Montserrat-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-LightItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-LightItalic.woff") format("woff"), url("../fonts/montserrat/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Regular.eot");
  src: url("../fonts/montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-Regular.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Italic.eot");
  src: url("../fonts/montserrat/Montserrat-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-Italic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Italic.woff") format("woff"), url("../fonts/montserrat/Montserrat-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Medium.eot");
  src: url("../fonts/montserrat/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-Medium.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Medium.woff") format("woff"), url("../fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-MediumItalic.eot");
  src: url("../fonts/montserrat/Montserrat-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-MediumItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-MediumItalic.woff") format("woff"), url("../fonts/montserrat/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-SemiBold.eot");
  src: url("../fonts/montserrat/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-SemiBold.woff") format("woff"), url("../fonts/montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-SemiBoldItalic.eot");
  src: url("../fonts/montserrat/Montserrat-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-SemiBoldItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-SemiBoldItalic.woff") format("woff"), url("../fonts/montserrat/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Bold.eot");
  src: url("../fonts/montserrat/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-Bold.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Bold.woff") format("woff"), url("../fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-BoldItalic.eot");
  src: url("../fonts/montserrat/Montserrat-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-BoldItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-BoldItalic.woff") format("woff"), url("../fonts/montserrat/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-ExtraBold.eot");
  src: url("../fonts/montserrat/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/montserrat/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-ExtraBoldItalic.eot");
  src: url("../fonts/montserrat/Montserrat-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ExtraBoldItalic.woff") format("woff"), url("../fonts/montserrat/Montserrat-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Black.eot");
  src: url("../fonts/montserrat/Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-Black.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Black.woff") format("woff"), url("../fonts/montserrat/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-BlackItalic.eot");
  src: url("../fonts/montserrat/Montserrat-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-BlackItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-BlackItalic.woff") format("woff"), url("../fonts/montserrat/Montserrat-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/notosans/notosans-thin.eot");
  src: url("../fonts/notosans/notosans-thin.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans/notosans-thin.woff2") format("woff2"), url("../fonts/notosans/notosans-thin.woff") format("woff"), url("../fonts/notosans/notosans-thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/notosans/notosans-thinitalic.eot");
  src: url("../fonts/notosans/notosans-thinitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans/notosans-thinitalic.woff2") format("woff2"), url("../fonts/notosans/notosans-thinitalic.woff") format("woff"), url("../fonts/notosans/notosans-thinitalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/notosans/notosans-extralight.eot");
  src: url("../fonts/notosans/notosans-extralight.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans/notosans-extralight.woff2") format("woff2"), url("../fonts/notosans/notosans-extralight.woff") format("woff"), url("../fonts/notosans/notosans-extralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/notosans/notosans-extralightitalic.eot");
  src: url("../fonts/notosans/notosans-extralightitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans/notosans-extralightitalic.woff2") format("woff2"), url("../fonts/notosans/notosans-extralightitalic.woff") format("woff"), url("../fonts/notosans/notosans-extralightitalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/notosans/notosans-light.eot");
  src: url("../fonts/notosans/notosans-light.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans/notosans-light.woff2") format("woff2"), url("../fonts/notosans/notosans-light.woff") format("woff"), url("../fonts/notosans/notosans-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/notosans/notosans-lightitalic.eot");
  src: url("../fonts/notosans/notosans-lightitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans/notosans-lightitalic.woff2") format("woff2"), url("../fonts/notosans/notosans-lightitalic.woff") format("woff"), url("../fonts/notosans/notosans-lightitalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/notosans/notosans-regular.eot");
  src: url("../fonts/notosans/notosans-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans/notosans-regular.woff2") format("woff2"), url("../fonts/notosans/notosans-regular.woff") format("woff"), url("../fonts/notosans/notosans-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/notosans/notosans-italic.eot");
  src: url("../fonts/notosans/notosans-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans/notosans-italic.woff2") format("woff2"), url("../fonts/notosans/notosans-italic.woff") format("woff"), url("../fonts/notosans/notosans-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/notosans/notosans-medium.eot");
  src: url("../fonts/notosans/notosans-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans/notosans-medium.woff2") format("woff2"), url("../fonts/notosans/notosans-medium.woff") format("woff"), url("../fonts/notosans/notosans-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/notosans/notosans-mediumitalic.eot");
  src: url("../fonts/notosans/notosans-mediumitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans/notosans-mediumitalic.woff2") format("woff2"), url("../fonts/notosans/notosans-mediumitalic.woff") format("woff"), url("../fonts/notosans/notosans-mediumitalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/notosans/notosans-semibold.eot");
  src: url("../fonts/notosans/notosans-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans/notosans-semibold.woff2") format("woff2"), url("../fonts/notosans/notosans-semibold.woff") format("woff"), url("../fonts/notosans/notosans-semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/notosans/notosans-semibolditalic.eot");
  src: url("../fonts/notosans/notosans-semibolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans/notosans-semibolditalic.woff2") format("woff2"), url("../fonts/notosans/notosans-semibolditalic.woff") format("woff"), url("../fonts/notosans/notosans-semibolditalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/notosans/notosans-bold.eot");
  src: url("../fonts/notosans/notosans-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans/notosans-bold.woff2") format("woff2"), url("../fonts/notosans/notosans-bold.woff") format("woff"), url("../fonts/notosans/notosans-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/notosans/notosans-bolditalic.eot");
  src: url("../fonts/notosans/notosans-bolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans/notosans-bolditalic.woff2") format("woff2"), url("../fonts/notosans/notosans-bolditalic.woff") format("woff"), url("../fonts/notosans/notosans-bolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/notosans/notosans-extrabold.eot");
  src: url("../fonts/notosans/notosans-extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans/notosans-extrabold.woff2") format("woff2"), url("../fonts/notosans/notosans-extrabold.woff") format("woff"), url("../fonts/notosans/notosans-extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/notosans/notosans-extrabolditalic.eot");
  src: url("../fonts/notosans/notosans-extrabolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans/notosans-extrabolditalic.woff2") format("woff2"), url("../fonts/notosans/notosans-extrabolditalic.woff") format("woff"), url("../fonts/notosans/notosans-extrabolditalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/notosans/notosans-black.eot");
  src: url("../fonts/notosans/notosans-black.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans/notosans-black.woff2") format("woff2"), url("../fonts/notosans/notosans-black.woff") format("woff"), url("../fonts/notosans/notosans-black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/notosans/notosans-blackitalic.eot");
  src: url("../fonts/notosans/notosans-blackitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans/notosans-blackitalic.woff2") format("woff2"), url("../fonts/notosans/notosans-blackitalic.woff") format("woff"), url("../fonts/notosans/notosans-blackitalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  min-width: 320px;
  max-width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
  outline: 0;
  background-color: #fff;
}

body,
select,
input,
textarea,
button {
  font-size: 18px;
  line-height: 1.5;
  font-family: "NotoSans", Arial, sans-serif;
  color: #0b1c39;
}

a {
  color: #0b1c39;
  text-decoration: none;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
a:hover, a:focus-visible {
  color: #2572ff;
}

h1,
h2,
h3 {
  line-height: 1.3;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: clamp(1.8rem, 7.2vw, 2.4rem);
}

h2 {
  font-size: clamp(1.6rem, 6vw, 2rem);
}

h3 {
  font-size: clamp(1.3rem, 4.5vw, 1.5rem);
}

ol,
ul {
  list-style: none;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}

.title_hide {
  left: -9999px;
  position: absolute;
  top: -9999px;
  overflow: hidden;
  width: 0;
  height: 0;
}

.btn {
  border: 0 none;
  cursor: pointer;
  overflow: hidden;
  text-decoration: none !important;
  background: transparent;
}

.oki_1 img,
.oki_2 img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  overflow: hidden;
}

.mob-menu,
.menu {
  position: sticky;
  top: 0;
  background-color: #fff;
}

.menu {
  z-index: 1000;
}

.mob-menu {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 998;
}
.mob-menu .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  width: 60px;
  color: #2572ff;
  font-size: 2rem;
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.scrolled .top .icon {
  cursor: pointer;
}
.scrolled .mob-menu {
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.btn-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  font-size: 2rem;
}

.menu__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.btn-menu-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 50px;
  font-size: 1.8rem;
  color: #fff;
}

.menu-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
  display: none;
}

.menu__soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 15px;
}
.menu__soc a {
  color: #fff;
  font-size: 2rem;
  padding: 10px 15px;
}

@media (min-width: 992px) {
  .menu-backdrop,
  .mob-menu,
  .menu > *:not(.menu__nav) {
    display: none !important;
  }
  .scrolled .menu {
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  }
  .menu__nav {
    height: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__nav li {
    padding: 0 30px;
  }
  .menu__nav a {
    display: block;
    padding: 3px;
    position: relative;
  }
  .menu__nav a::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #2572ff;
    -webkit-transition: width 0.2s ease;
    transition: width 0.2s ease;
  }
  .menu__nav a:hover::after {
    width: 100%;
  }
  .menu__nav .top .icon {
    font-size: 1.8rem;
    color: #2572ff;
  }
}
@media (max-width: 991.98px) {
  .mob-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    min-width: 260px;
    height: 100%;
    background-color: #2572ff;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    overflow-y: auto;
  }
  .menu__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .menu__nav li {
    padding: 5px 20px;
  }
  .menu__nav a {
    font-size: 1.1rem;
    color: #fff;
  }
  .menu__nav .top {
    text-align: center;
  }
  .menu__nav .top .icon {
    font-size: 2.8rem;
    color: #fff;
  }
}
.header {
  /*
  background-color: #fff;
  background-image: url(../images/fon/header_fon_08.webp?v=1);
  background-size: cover;
  */
  min-height: calc(100vh - 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 20px;
}
.header::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/fon/01.webp);
  background-size: cover;
  z-index: -101;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: clamp(30px, 6.66667vw, 60px);
  background-color: rgba(255, 255, 255, 0.4);
  max-width: 800px;
  z-index: 2;
}
.header__content img {
  display: block;
  width: 100%;
  max-width: 280px;
  -webkit-filter: drop-shadow(0 15px 10px rgba(0, 0, 0, 0.9));
          filter: drop-shadow(0 15px 10px rgba(0, 0, 0, 0.9));
}
.header__content h1 {
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4), -1px -1px 0 #9c9c9c, 0 -1px 0 #9c9c9c, 1px -1px 0 #9c9c9c, 1px 0 0 #9c9c9c, 1px 1px 0 #9c9c9c, 0 1px 0 #9c9c9c, -1px 1px 0 #9c9c9c, -1px 0 0 #9c9c9c;
}
.header__content p {
  color: #000;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.4);
  margin-top: 10px;
}

@media (min-width: 992px) {
  .header__content > div {
    margin-left: 30px;
  }
}
@media (max-width: 991.98px) {
  .header__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 500px;
  }
  .header__content > div {
    margin-top: 30px;
    text-align: center;
  }
}
.section {
  padding-top: clamp(40px, 10vw, 60px);
  padding-bottom: clamp(40px, 10vw, 60px);
}
.section > div:not(.title) {
  margin-top: clamp(20px, 6.66667vw, 40px);
}

.title {
  width: 100%;
  text-align: center;
}
.title h2 {
  text-transform: uppercase;
}
.title > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.title > div .icon {
  margin: 0 7px;
  font-size: 1.6rem;
  color: #2572ff;
}
.title > div::after, .title > div::before {
  content: "";
  display: block;
  width: clamp(40px, 8.33333vw, 50px);
  height: 2px;
  background-color: #2572ff;
}

.section__img > div {
  position: relative;
  width: 100%;
  padding-top: 130%;
  overflow: hidden;
}

.section__text > *:not(:first-child) {
  margin-top: 0.9rem;
}

.oki_1,
.oki_2 {
  position: absolute;
  width: 91%;
  height: 95%;
  overflow: hidden;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.oki_1 {
  bottom: 0;
  right: 0;
  z-index: 1;
  -webkit-filter: sepia(100%);
          filter: sepia(100%);
  opacity: 0.6;
}

.oki_2 {
  top: 0;
  left: 0;
  z-index: 2;
}

.aboutme > div:not(.title) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 992px) {
  .aboutme > div:not(.title) {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .aboutme .section__img {
    width: 360px;
  }
  .aboutme .section__text {
    width: calc(100% - 360px - 40px);
  }
}
@media (max-width: 991.98px) {
  .aboutme > div:not(.title) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutme .section__img {
    width: 100%;
    max-width: 360px;
  }
  .aboutme .section__text {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
  }
}
.services {
  background-color: #f6f7fa;
  height: 800px;
}

.contacts {
  height: 800px;
}

footer {
  height: 500px;
  background-color: #2572ff;
}

.animation-element {
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.animation-element.animation-show {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-transition-property: opacity, background-color, -webkit-transform;
  transition-property: opacity, background-color, -webkit-transform;
  transition-property: opacity, transform, background-color;
  transition-property: opacity, transform, background-color, -webkit-transform;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

@media (min-width: 992px) {
  .animation-element.animation-element-left {
    -webkit-transform: scale(0.9) translate(-20%, 0);
            transform: scale(0.9) translate(-20%, 0);
  }
  .animation-element.animation-element-right {
    -webkit-transform: scale(0.9) translate(20%, 0);
            transform: scale(0.9) translate(20%, 0);
  }
  .animation-element.animation-element-bottom {
    -webkit-transform: scale(0.9) translate(0, 20%);
            transform: scale(0.9) translate(0, 20%);
  }
  .animation-element.animation-element-left.animation-show,
  .animation-element.animation-element-right.animation-show,
  .animation-element.animation-element-bottom.animation-show {
    -webkit-transform: scale(1) translate(0);
            transform: scale(1) translate(0);
  }
}