.aboutme {
	.section__img {
		> div {
			padding-top: 130%;
		}
	}
}
.aboutme__content {
	display: flex;
}

@media (min-width: 992px) {
	.aboutme__content {
		justify-content: space-between;
		.section__img {
			width: 360px;
		}
		.section__text {
			width: calc(100% - 360px - 40px);
		}
	}
}

@media (max-width: 991.98px) {
	.aboutme__content {
		flex-direction: column;
		align-items: center;
		.section__img {
			width: 100%;
			max-width: 360px;
		}
		.section__text {
			width: 100%;
			margin-top: 20px;
		}
	}
}
