@font-face {
	font-family: "Montserrat";
	src: url("../fonts/montserrat/Montserrat-Thin.eot");
	src:
		url("../fonts/montserrat/Montserrat-Thin.eot?#iefix") format("embedded-opentype"),
		url("../fonts/montserrat/Montserrat-Thin.woff2") format("woff2"),
		url("../fonts/montserrat/Montserrat-Thin.woff") format("woff"),
		url("../fonts/montserrat/Montserrat-Thin.ttf") format("truetype");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/montserrat/Montserrat-ThinItalic.eot");
	src:
		url("../fonts/montserrat/Montserrat-ThinItalic.eot?#iefix") format("embedded-opentype"),
		url("../fonts/montserrat/Montserrat-ThinItalic.woff2") format("woff2"),
		url("../fonts/montserrat/Montserrat-ThinItalic.woff") format("woff"),
		url("../fonts/montserrat/Montserrat-ThinItalic.ttf") format("truetype");
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/montserrat/Montserrat-ExtraLight.eot");
	src:
		url("../fonts/montserrat/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"),
		url("../fonts/montserrat/Montserrat-ExtraLight.woff2") format("woff2"),
		url("../fonts/montserrat/Montserrat-ExtraLight.woff") format("woff"),
		url("../fonts/montserrat/Montserrat-ExtraLight.ttf") format("truetype");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/montserrat/Montserrat-ExtraLightItalic.eot");
	src:
		url("../fonts/montserrat/Montserrat-ExtraLightItalic.eot?#iefix") format("embedded-opentype"),
		url("../fonts/montserrat/Montserrat-ExtraLightItalic.woff2") format("woff2"),
		url("../fonts/montserrat/Montserrat-ExtraLightItalic.woff") format("woff"),
		url("../fonts/montserrat/Montserrat-ExtraLightItalic.ttf") format("truetype");
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/montserrat/Montserrat-Light.eot");
	src:
		url("../fonts/montserrat/Montserrat-Light.eot?#iefix") format("embedded-opentype"),
		url("../fonts/montserrat/Montserrat-Light.woff2") format("woff2"),
		url("../fonts/montserrat/Montserrat-Light.woff") format("woff"),
		url("../fonts/montserrat/Montserrat-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/montserrat/Montserrat-LightItalic.eot");
	src:
		url("../fonts/montserrat/Montserrat-LightItalic.eot?#iefix") format("embedded-opentype"),
		url("../fonts/montserrat/Montserrat-LightItalic.woff2") format("woff2"),
		url("../fonts/montserrat/Montserrat-LightItalic.woff") format("woff"),
		url("../fonts/montserrat/Montserrat-LightItalic.ttf") format("truetype");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/montserrat/Montserrat-Regular.eot");
	src:
		url("../fonts/montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/montserrat/Montserrat-Regular.woff2") format("woff2"),
		url("../fonts/montserrat/Montserrat-Regular.woff") format("woff"),
		url("../fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/montserrat/Montserrat-Italic.eot");
	src:
		url("../fonts/montserrat/Montserrat-Italic.eot?#iefix") format("embedded-opentype"),
		url("../fonts/montserrat/Montserrat-Italic.woff2") format("woff2"),
		url("../fonts/montserrat/Montserrat-Italic.woff") format("woff"),
		url("../fonts/montserrat/Montserrat-Italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/montserrat/Montserrat-Medium.eot");
	src:
		url("../fonts/montserrat/Montserrat-Medium.eot?#iefix") format("embedded-opentype"),
		url("../fonts/montserrat/Montserrat-Medium.woff2") format("woff2"),
		url("../fonts/montserrat/Montserrat-Medium.woff") format("woff"),
		url("../fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/montserrat/Montserrat-MediumItalic.eot");
	src:
		url("../fonts/montserrat/Montserrat-MediumItalic.eot?#iefix") format("embedded-opentype"),
		url("../fonts/montserrat/Montserrat-MediumItalic.woff2") format("woff2"),
		url("../fonts/montserrat/Montserrat-MediumItalic.woff") format("woff"),
		url("../fonts/montserrat/Montserrat-MediumItalic.ttf") format("truetype");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/montserrat/Montserrat-SemiBold.eot");
	src:
		url("../fonts/montserrat/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/montserrat/Montserrat-SemiBold.woff2") format("woff2"),
		url("../fonts/montserrat/Montserrat-SemiBold.woff") format("woff"),
		url("../fonts/montserrat/Montserrat-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/montserrat/Montserrat-SemiBoldItalic.eot");
	src:
		url("../fonts/montserrat/Montserrat-SemiBoldItalic.eot?#iefix") format("embedded-opentype"),
		url("../fonts/montserrat/Montserrat-SemiBoldItalic.woff2") format("woff2"),
		url("../fonts/montserrat/Montserrat-SemiBoldItalic.woff") format("woff"),
		url("../fonts/montserrat/Montserrat-SemiBoldItalic.ttf") format("truetype");
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/montserrat/Montserrat-Bold.eot");
	src:
		url("../fonts/montserrat/Montserrat-Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/montserrat/Montserrat-Bold.woff2") format("woff2"),
		url("../fonts/montserrat/Montserrat-Bold.woff") format("woff"),
		url("../fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/montserrat/Montserrat-BoldItalic.eot");
	src:
		url("../fonts/montserrat/Montserrat-BoldItalic.eot?#iefix") format("embedded-opentype"),
		url("../fonts/montserrat/Montserrat-BoldItalic.woff2") format("woff2"),
		url("../fonts/montserrat/Montserrat-BoldItalic.woff") format("woff"),
		url("../fonts/montserrat/Montserrat-BoldItalic.ttf") format("truetype");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/montserrat/Montserrat-ExtraBold.eot");
	src:
		url("../fonts/montserrat/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/montserrat/Montserrat-ExtraBold.woff2") format("woff2"),
		url("../fonts/montserrat/Montserrat-ExtraBold.woff") format("woff"),
		url("../fonts/montserrat/Montserrat-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/montserrat/Montserrat-ExtraBoldItalic.eot");
	src:
		url("../fonts/montserrat/Montserrat-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"),
		url("../fonts/montserrat/Montserrat-ExtraBoldItalic.woff2") format("woff2"),
		url("../fonts/montserrat/Montserrat-ExtraBoldItalic.woff") format("woff"),
		url("../fonts/montserrat/Montserrat-ExtraBoldItalic.ttf") format("truetype");
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/montserrat/Montserrat-Black.eot");
	src:
		url("../fonts/montserrat/Montserrat-Black.eot?#iefix") format("embedded-opentype"),
		url("../fonts/montserrat/Montserrat-Black.woff2") format("woff2"),
		url("../fonts/montserrat/Montserrat-Black.woff") format("woff"),
		url("../fonts/montserrat/Montserrat-Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/montserrat/Montserrat-BlackItalic.eot");
	src:
		url("../fonts/montserrat/Montserrat-BlackItalic.eot?#iefix") format("embedded-opentype"),
		url("../fonts/montserrat/Montserrat-BlackItalic.woff2") format("woff2"),
		url("../fonts/montserrat/Montserrat-BlackItalic.woff") format("woff"),
		url("../fonts/montserrat/Montserrat-BlackItalic.ttf") format("truetype");
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "NotoSans";
	src: url("../fonts/notosans/notosans-thin.eot");
	src:
		url("../fonts/notosans/notosans-thin.eot?#iefix") format("embedded-opentype"),
		url("../fonts/notosans/notosans-thin.woff2") format("woff2"),
		url("../fonts/notosans/notosans-thin.woff") format("woff"),
		url("../fonts/notosans/notosans-thin.ttf") format("truetype");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "NotoSans";
	src: url("../fonts/notosans/notosans-thinitalic.eot");
	src:
		url("../fonts/notosans/notosans-thinitalic.eot?#iefix") format("embedded-opentype"),
		url("../fonts/notosans/notosans-thinitalic.woff2") format("woff2"),
		url("../fonts/notosans/notosans-thinitalic.woff") format("woff"),
		url("../fonts/notosans/notosans-thinitalic.ttf") format("truetype");
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "NotoSans";
	src: url("../fonts/notosans/notosans-extralight.eot");
	src:
		url("../fonts/notosans/notosans-extralight.eot?#iefix") format("embedded-opentype"),
		url("../fonts/notosans/notosans-extralight.woff2") format("woff2"),
		url("../fonts/notosans/notosans-extralight.woff") format("woff"),
		url("../fonts/notosans/notosans-extralight.ttf") format("truetype");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "NotoSans";
	src: url("../fonts/notosans/notosans-extralightitalic.eot");
	src:
		url("../fonts/notosans/notosans-extralightitalic.eot?#iefix") format("embedded-opentype"),
		url("../fonts/notosans/notosans-extralightitalic.woff2") format("woff2"),
		url("../fonts/notosans/notosans-extralightitalic.woff") format("woff"),
		url("../fonts/notosans/notosans-extralightitalic.ttf") format("truetype");
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "NotoSans";
	src: url("../fonts/notosans/notosans-light.eot");
	src:
		url("../fonts/notosans/notosans-light.eot?#iefix") format("embedded-opentype"),
		url("../fonts/notosans/notosans-light.woff2") format("woff2"),
		url("../fonts/notosans/notosans-light.woff") format("woff"),
		url("../fonts/notosans/notosans-light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "NotoSans";
	src: url("../fonts/notosans/notosans-lightitalic.eot");
	src:
		url("../fonts/notosans/notosans-lightitalic.eot?#iefix") format("embedded-opentype"),
		url("../fonts/notosans/notosans-lightitalic.woff2") format("woff2"),
		url("../fonts/notosans/notosans-lightitalic.woff") format("woff"),
		url("../fonts/notosans/notosans-lightitalic.ttf") format("truetype");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "NotoSans";
	src: url("../fonts/notosans/notosans-regular.eot");
	src:
		url("../fonts/notosans/notosans-regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/notosans/notosans-regular.woff2") format("woff2"),
		url("../fonts/notosans/notosans-regular.woff") format("woff"),
		url("../fonts/notosans/notosans-regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "NotoSans";
	src: url("../fonts/notosans/notosans-italic.eot");
	src:
		url("../fonts/notosans/notosans-italic.eot?#iefix") format("embedded-opentype"),
		url("../fonts/notosans/notosans-italic.woff2") format("woff2"),
		url("../fonts/notosans/notosans-italic.woff") format("woff"),
		url("../fonts/notosans/notosans-italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "NotoSans";
	src: url("../fonts/notosans/notosans-medium.eot");
	src:
		url("../fonts/notosans/notosans-medium.eot?#iefix") format("embedded-opentype"),
		url("../fonts/notosans/notosans-medium.woff2") format("woff2"),
		url("../fonts/notosans/notosans-medium.woff") format("woff"),
		url("../fonts/notosans/notosans-medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "NotoSans";
	src: url("../fonts/notosans/notosans-mediumitalic.eot");
	src:
		url("../fonts/notosans/notosans-mediumitalic.eot?#iefix") format("embedded-opentype"),
		url("../fonts/notosans/notosans-mediumitalic.woff2") format("woff2"),
		url("../fonts/notosans/notosans-mediumitalic.woff") format("woff"),
		url("../fonts/notosans/notosans-mediumitalic.ttf") format("truetype");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "NotoSans";
	src: url("../fonts/notosans/notosans-semibold.eot");
	src:
		url("../fonts/notosans/notosans-semibold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/notosans/notosans-semibold.woff2") format("woff2"),
		url("../fonts/notosans/notosans-semibold.woff") format("woff"),
		url("../fonts/notosans/notosans-semibold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "NotoSans";
	src: url("../fonts/notosans/notosans-semibolditalic.eot");
	src:
		url("../fonts/notosans/notosans-semibolditalic.eot?#iefix") format("embedded-opentype"),
		url("../fonts/notosans/notosans-semibolditalic.woff2") format("woff2"),
		url("../fonts/notosans/notosans-semibolditalic.woff") format("woff"),
		url("../fonts/notosans/notosans-semibolditalic.ttf") format("truetype");
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "NotoSans";
	src: url("../fonts/notosans/notosans-bold.eot");
	src:
		url("../fonts/notosans/notosans-bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/notosans/notosans-bold.woff2") format("woff2"),
		url("../fonts/notosans/notosans-bold.woff") format("woff"),
		url("../fonts/notosans/notosans-bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "NotoSans";
	src: url("../fonts/notosans/notosans-bolditalic.eot");
	src:
		url("../fonts/notosans/notosans-bolditalic.eot?#iefix") format("embedded-opentype"),
		url("../fonts/notosans/notosans-bolditalic.woff2") format("woff2"),
		url("../fonts/notosans/notosans-bolditalic.woff") format("woff"),
		url("../fonts/notosans/notosans-bolditalic.ttf") format("truetype");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "NotoSans";
	src: url("../fonts/notosans/notosans-extrabold.eot");
	src:
		url("../fonts/notosans/notosans-extrabold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/notosans/notosans-extrabold.woff2") format("woff2"),
		url("../fonts/notosans/notosans-extrabold.woff") format("woff"),
		url("../fonts/notosans/notosans-extrabold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "NotoSans";
	src: url("../fonts/notosans/notosans-extrabolditalic.eot");
	src:
		url("../fonts/notosans/notosans-extrabolditalic.eot?#iefix") format("embedded-opentype"),
		url("../fonts/notosans/notosans-extrabolditalic.woff2") format("woff2"),
		url("../fonts/notosans/notosans-extrabolditalic.woff") format("woff"),
		url("../fonts/notosans/notosans-extrabolditalic.ttf") format("truetype");
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "NotoSans";
	src: url("../fonts/notosans/notosans-black.eot");
	src:
		url("../fonts/notosans/notosans-black.eot?#iefix") format("embedded-opentype"),
		url("../fonts/notosans/notosans-black.woff2") format("woff2"),
		url("../fonts/notosans/notosans-black.woff") format("woff"),
		url("../fonts/notosans/notosans-black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "NotoSans";
	src: url("../fonts/notosans/notosans-blackitalic.eot");
	src:
		url("../fonts/notosans/notosans-blackitalic.eot?#iefix") format("embedded-opentype"),
		url("../fonts/notosans/notosans-blackitalic.woff2") format("woff2"),
		url("../fonts/notosans/notosans-blackitalic.woff") format("woff"),
		url("../fonts/notosans/notosans-blackitalic.ttf") format("truetype");
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}
