.header {
	background-color: #121212;
	background-image: url(../images/header_fon.webp?v=1);
	min-height: calc(100vh - $header_nav);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
