.section {
	padding-top: clm_px(40, 600, 60);
	padding-bottom: clm_px(40, 600, 60);
	overflow: hidden;
	@extend %max_wight;
}
.title {
	width: 100%;
	text-align: center;
	margin-bottom: clm_px(20, 600, 40);
	> div {
		display: flex;
		align-items: center;
		justify-content: center;
		.icon {
			margin: 0 7px;
			font-size: 1.6rem;
			color: $color_blue;
		}
		&::after,
		&::before {
			content: "";
			display: block;
			width: clm_px(40, 600, 50);
			height: 2px;
			background-color: $color_blue;
		}
	}
}
.section__img {
	position: relative;
	overflow: hidden;
	img {
		width: 91%;
		height: 95%;
		overflow: hidden;
		border-top-left-radius: 2rem;
		border-bottom-right-radius: 2rem;
		@extend %img_pozition;
		&:nth-child(1) {
			bottom: 0;
			right: 0;
			z-index: 1;
			filter: sepia(100%);
			opacity: 0.6;
		}
		&:nth-child(2) {
			top: 0;
			left: 0;
			z-index: 2;
		}
	}
}
.section__text {
	> *:not(:first-child) {
		margin-top: 0.9rem;
	}
	a {
		&:not(:hover):not(:focus-visible) {
			color: $color_link_hover;
			text-decoration: underline;
		}
	}
}
