.mob-menu,
.menu {
	position: sticky;
	top: 0;
	background-color: #fff;
}
.menu {
	z-index: 1000;
	a,
	.btn {
		@extend %focus_white;
	}
	.btn {
		@extend %focus_inside;
	}
}
.mob-menu {
	justify-content: space-between;
	z-index: 998;
	.btn-top {
		a {
			display: flex;
			align-items: center;
			justify-content: center;
			height: $header_nav;
			width: $header_nav;
			color: $color_blue;
			line-height: 1;
			@extend %focus_inside;
		}
		.icon {
			font-size: 2rem;
		}
	}
}
.menu__nav {
	display: flex;
	.btn-top {
		a {
			display: inline-block;
			line-height: 1;
		}
	}
}
.scrolled {
	.mob-menu {
		box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
	}
}
.btn-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: $header_nav;
	font-size: 2rem;
	@extend %focus_inside;
}

.menu__close {
	display: flex;
	justify-content: flex-end;
}
.btn-menu-close {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 50px;
	font-size: 1.8rem;
	color: #fff;
}
.modal-backdrop {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 999;
	display: none;
}
.menu__soc {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 15px;
	a {
		color: #fff;
		font-size: 2rem;
		padding: 10px 15px;
		@extend %focus_inside;
	}
}

@media (min-width: 992px) {
	.menu:not(.desktop),
	.modal-backdrop,
	.mob-menu,
	.menu > *:not(.menu__nav) {
		display: none !important;
	}
	.scrolled {
		.menu {
			box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
		}
	}
	.menu__nav {
		height: $header_nav;
		justify-content: center;
		align-items: center;
		li {
			padding: 0 30px;
			&:not(.btn-top) {
				height: 100%;
			}
		}
		a:not([href="#top"]) {
			display: flex;
			align-items: center;
			padding: 3px;
			position: relative;
			height: 100%;
			&::after {
				content: "";
				display: block;
				position: absolute;
				left: 0;
				bottom: 0;
				height: 2px;
				width: 0;
				background-color: $color_link_hover;
				transition: width 0.2s ease;
			}
			&:hover::after {
				width: 100%;
			}
		}
		.btn-top {
			.icon {
				font-size: 1.8rem;
				color: $color_blue;
			}
		}
	}
}

@media (max-width: 991.98px) {
	.menu.desktop {
		display: none !important;
	}
	.mob-menu {
		display: flex;
	}
	.menu {
		display: flex;
		flex-direction: column;
		position: fixed;
		top: 0;
		right: 0;
		min-width: 260px;
		height: 100%;
		background-color: $color_blue;
		transform: translateX(100%);
		overflow-y: auto;
	}
	.menu__nav {
		flex-direction: column;
		flex-grow: 1;
		li {
			padding: 5px 20px;
		}
		a:not([href="#top"]) {
			font-size: 1.1rem;
			color: #fff;
		}
		.btn-top {
			text-align: center;
			.icon {
				font-size: 2.8rem;
				color: #fff;
			}
		}
	}
}
