.works__content {
	display: flex;
	li {
		border-radius: 20px;
	}
	a,
	img {
		display: block;
		width: 100%;
	}
	a {
		border-radius: 20px;
		overflow: hidden;
		box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
		transition: box-shadow 0.3s ease;
		&:hover,
		&:focus-visible {
			box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
		}
	}
}
.fancybox__caption {
	a {
		color: #fff;
		&:not(:hover):not(:focus-visible) {
			text-decoration: underline;
		}
	}
}

@media (min-width: 992px) {
	.works__content {
		flex-wrap: wrap;
		justify-content: space-between;
		li {
			width: calc(50% - 15px);
			&:nth-child(n + 3) {
				margin-top: 30px;
			}
		}
	}
}

@media (max-width: 991.98px) {
	.works__content {
		flex-direction: column;
		align-items: center;
		li {
			width: 100%;
			max-width: 600px;
			&:not(:first-child) {
				margin-top: 20px;
			}
		}
	}
}
