$header_nav: 60px;

$color_text: #626a77;
$color_link: #0b1c39;
$color_link_hover: #2572ff;

$color_blue: #3070e6;

@import "_reset";
@import "_other";
@import "_menu";
@import "_header";
@import "_main";
@import "_aboutme";
@import "_services";
@import "_contacts";
@import "_footer";
@import "_scroll-animation";
